In [1]:
import requests
import json
import os 

import polars as pl

from tqdm import tqdm

In [105]:
API_KEY = "9278o0hrad85ouh3dhl7idcd6r7mvn4f12ek2q4d5b6b5upnj48"
API = "https://societeinfo.com/app/rest/api/v2/company.json"
FILE_SAMPLE = f"./samples/siren_samples.csv"
FILE_RES = f"./results/societeinfo_siren.csv"

In [8]:
df = pl.read_csv(FILE_SAMPLE)
df = df.cast({"siren": pl.String})
print(df.describe())

shape: (9, 5)
┌────────────┬──────────────────────────────┬────────────┬───────────┬─────────────────────────────┐
│ statistic  ┆ linkedin_url                 ┆ input_name ┆ siren     ┆ website                     │
│ ---        ┆ ---                          ┆ ---        ┆ ---       ┆ ---                         │
│ str        ┆ str                          ┆ str        ┆ str       ┆ str                         │
╞════════════╪══════════════════════════════╪════════════╪═══════════╪═════════════════════════════╡
│ count      ┆ 117                          ┆ 117        ┆ 117       ┆ 117                         │
│ null_count ┆ 0                            ┆ 0          ┆ 0         ┆ 0                           │
│ mean       ┆ null                         ┆ null       ┆ null      ┆ null                        │
│ std        ┆ null                         ┆ null       ┆ null      ┆ null                        │
│ min        ┆ https://www.linkedin.com/com ┆ ACOME      ┆ 301374922 ┆ http://chantiers-atlantique │
│            ┆ pany…                        ┆            ┆           ┆ .com                        │
│ 25%        ┆ null                         ┆ null       ┆ null      ┆ null                        │
│ 50%        ┆ null                         ┆ null       ┆ null      ┆ null                        │
│ 75%        ┆ null                         ┆ null       ┆ null      ┆ null                        │
│ max        ┆ https://www.linkedin.com/sho ┆ YNSECT     ┆ 967504697 ┆ https://www.ynsect.com/fr/  │
│            ┆ wcas…                        ┆            ┆           ┆                             │
└────────────┴──────────────────────────────┴────────────┴───────────┴─────────────────────────────┘

In [9]:
def send_request(siren: str) -> dict:
    res = requests.get(f"{API}/{siren}", params={"key": API_KEY}, timeout=10)
    if res.status_code != 200:
        return {}
    
    try:
        data = res.content
        return json.loads(data)
    except:
        return {}

In [97]:
companies = []
for company in df.rows()[114:]:
    linkedin_url, input_name, siren, website = company
    
    data = send_request(siren)
    linkedin_url_found = data.get("result", {}).get("web_infos", {}).get("linkedin", {}).get("url")

    linkedin_id_found = None
    if linkedin_url_found:
        linkedin_id_found = linkedin_url_found.strip("/").split("/")[-1].lower()

    companies.append({
        "linkedin_url": linkedin_url,
        "input_name": input_name,
        "siren": siren,
        "website": website,
        "linkedin_id_found": linkedin_id_found
    })

print(len(companies))

3

In [98]:
df_companies = pl.DataFrame(companies)
df_companies.describe()

shape: (9, 6)
┌────────────┬────────────────────┬────────────┬───────────┬───────────────────┬───────────────────┐
│ statistic  ┆ linkedin_url       ┆ input_name ┆ siren     ┆ website           ┆ linkedin_id_found │
│ ---        ┆ ---                ┆ ---        ┆ ---       ┆ ---               ┆ ---               │
│ str        ┆ str                ┆ str        ┆ str       ┆ str               ┆ str               │
╞════════════╪════════════════════╪════════════╪═══════════╪═══════════════════╪═══════════════════╡
│ count      ┆ 3                  ┆ 3          ┆ 3         ┆ 3                 ┆ 3                 │
│ null_count ┆ 0                  ┆ 0          ┆ 0         ┆ 0                 ┆ 0                 │
│ mean       ┆ null               ┆ null       ┆ null      ┆ null              ┆ null              │
│ std        ┆ null               ┆ null       ┆ null      ┆ null              ┆ null              │
│ min        ┆ https://www.linked ┆ Alsapan    ┆ 333916385 ┆ http://www.alsapa ┆ alsapan-industrie │
│            ┆ in.com/company…    ┆            ┆           ┆ n.com             ┆                   │
│ 25%        ┆ null               ┆ null       ┆ null      ┆ null              ┆ null              │
│ 50%        ┆ null               ┆ null       ┆ null      ┆ null              ┆ null              │
│ 75%        ┆ null               ┆ null       ┆ null      ┆ null              ┆ null              │
│ max        ┆ https://www.linked ┆ SNCF       ┆ 552049447 ┆ https://www.eiffa ┆ sncf-immobilier   │
│            ┆ in.com/company…    ┆            ┆           ┆ gemetal.com/      ┆                   │
└────────────┴────────────────────┴────────────┴───────────┴───────────────────┴───────────────────┘

In [99]:
def compare_linkedin_ids(df: pl.DataFrame) -> pl.DataFrame:
    success = []
    for company in df.rows(named=True):
        url = company.get("linkedin_url")
        url = url.strip("/")
        linkedin_id = url.split("/")[-1].lower()
        success.append(linkedin_id == company.get("linkedin_id_found"))

    serie = pl.Series("success", success)
    return df.with_columns(serie)

In [100]:
df_results = compare_linkedin_ids(df_companies)
df_results.tail()

shape: (3, 6)
┌────────────────────┬───────────────┬───────────┬───────────────────┬───────────────────┬─────────┐
│ linkedin_url       ┆ input_name    ┆ siren     ┆ website           ┆ linkedin_id_found ┆ success │
│ ---                ┆ ---           ┆ ---       ┆ ---               ┆ ---               ┆ ---     │
│ str                ┆ str           ┆ str       ┆ str               ┆ str               ┆ bool    │
╞════════════════════╪═══════════════╪═══════════╪═══════════════════╪═══════════════════╪═════════╡
│ https://www.linked ┆ SNCF          ┆ 552049447 ┆ http://www.sncf.c ┆ sncf-immobilier   ┆ false   │
│ in.com/company…    ┆               ┆           ┆ om                ┆                   ┆         │
│ https://www.linked ┆ Alsapan       ┆ 392213146 ┆ http://www.alsapa ┆ alsapan-industrie ┆ false   │
│ in.com/company…    ┆               ┆           ┆ n.com             ┆                   ┆         │
│ https://www.linked ┆ Eiffage Metal ┆ 333916385 ┆ https://www.eiffa ┆ eiffage-metal     ┆ true    │
│ in.com/company…    ┆               ┆           ┆ gemetal.com/      ┆                   ┆         │
└────────────────────┴───────────────┴───────────┴───────────────────┴───────────────────┴─────────┘

In [101]:
for i in df.rows()[114:]:
    print(i)

('https://www.linkedin.com/company/sncf', 'SNCF', '552049447', 'http://www.sncf.com')
('https://www.linkedin.com/company/alsapan', 'Alsapan', '392213146', 'http://www.alsapan.com')
('https://www.linkedin.com/company/eiffage-metal', 'Eiffage Metal', '333916385', 'https://www.eiffagemetal.com/')

In [102]:
df_results.write_csv("./results/siren/batch_7.csv")

In [108]:
df_results = pl.read_csv(FILE_RES)
print(df_results)

shape: (117, 6)
┌───────────────────┬──────────────────┬───────────┬──────────────────┬──────────────────┬─────────┐
│ linkedin_url      ┆ input_name       ┆ siren     ┆ website          ┆ linkedin_id_foun ┆ success │
│ ---               ┆ ---              ┆ ---       ┆ ---              ┆ d                ┆ ---     │
│ str               ┆ str              ┆ i64       ┆ str              ┆ ---              ┆ bool    │
│                   ┆                  ┆           ┆                  ┆ str              ┆         │
╞═══════════════════╪══════════════════╪═══════════╪══════════════════╪══════════════════╪═════════╡
│ https://www.linke ┆ FAURECIA CLEAN   ┆ 542005376 ┆ https://www.faur ┆ faurecia         ┆ true    │
│ din.com/company…  ┆ MOBILITY         ┆           ┆ ecia.com/        ┆                  ┆         │
│                   ┆ (groupe…         ┆           ┆                  ┆                  ┆         │
│ https://www.linke ┆ PRYSMIAN GROUP   ┆ 95750311  ┆ https://fr.prysm ┆ null             ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ ian.com/         ┆                  ┆         │
│ https://www.linke ┆ PETIT BATEAU     ┆ 845114214 ┆ https://www.peti ┆ null             ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ t-bateau.fr/     ┆                  ┆         │
│ https://www.linke ┆ VALEO VISION     ┆ 950344333 ┆ https://www.vale ┆ null             ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ o.com/fr/        ┆                  ┆         │
│ https://www.linke ┆ GRUPO ANTOLIN    ┆ 328358734 ┆ https://www.anto ┆ null             ┆ false   │
│ din.com/company…  ┆ BESANCON         ┆           ┆ lin.com/         ┆                  ┆         │
│ …                 ┆ …                ┆ …         ┆ …                ┆ …                ┆ …       │
│ https://www.linke ┆ Suez             ┆ 775690035 ┆ http://www.suez. ┆ suez             ┆ true    │
│ din.com/company…  ┆                  ┆           ┆ com              ┆                  ┆         │
│ https://www.linke ┆ Amorce           ┆ 751372608 ┆ http://www.amorc ┆ null             ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ e.asso.fr        ┆                  ┆         │
│ https://www.linke ┆ SNCF             ┆ 552049447 ┆ http://www.sncf. ┆ sncf-immobilier  ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ com              ┆                  ┆         │
│ https://www.linke ┆ Alsapan          ┆ 392213146 ┆ http://www.alsap ┆ alsapan-industri ┆ false   │
│ din.com/company…  ┆                  ┆           ┆ an.com           ┆ e                ┆         │
│ https://www.linke ┆ Eiffage Metal    ┆ 333916385 ┆ https://www.eiff ┆ eiffage-metal    ┆ true    │
│ din.com/company…  ┆                  ┆           ┆ agemetal.com/    ┆                  ┆         │
└───────────────────┴──────────────────┴───────────┴──────────────────┴──────────────────┴─────────┘

In [111]:
print(sum(1 for i in df_results.rows() if i[-1]))
print(sum(1 for i in df_results.rows() if i[-2] is None))

68
18

In [112]:
print(68/117*100)
print(18/117*100)

58.119658119658126
15.384615384615385